@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body,
#app {
    max-width: 100%;
    overflow-x: hidden;
}

@layer utilities {
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
